<script type="text/template" id="app-template">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="brand" class="invitations" href="#">Our Wedding</a>

            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
<!--                             Logged in as <a href="#" class="navbar-link">Username</a>
-->                        </p>

                <ul class="nav">
                    <li class="active"><a class="invitations" href="#">Invitations</a></li>
                    <li class="active"><a class="people" href="#">People</a></li>
                    <li class="active"><a class="new" href="#">New Invitation</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid" id="content">
</div>
</script>
