<table>
    <tr>
        <td style="width: 75%"># Attending</td>
        <td style="width: 25%"><%- attendingCount %></td>
    </tr>
    <tr>
        <td># Not Attending</td>
        <td><%- notAttendingCount %></td>
    </tr>
    <tr>
        <td># No Response</td>
        <td><%- noResponseCount %></td>
    </tr>
    <tr>
        <td>Lisa # Attending</td>
        <td><%- lisaAttendingCount %></td>
    </tr>
    <tr>
        <td>Lisa # Not Attending</td>
        <td><%- lisaNotAttendingCount %></td>
    </tr>
    <tr>
        <td>Lisa # No Response</td>
        <td><%- lisaNoResponseCount %></td>
    </tr>
    <tr>
        <td>Ryan # Attending</td>
        <td><%- ryanAttendingCount %></td>
    </tr>
    <tr>
        <td>Ryan # Not Attending</td>
        <td><%- ryanNotAttendingCount %></td>
    </tr>
    <tr>
        <td>Ryan # No Response</td>
        <td><%- ryanNoResponseCount %></td>
    </tr>
</table>
