<script type="text/template" id="invitations-template">
<div class="row-fluid">
        <div class="span9">
            <div class="show"></div>
            <div class="edit"></div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Invitation</th>
                        <th>Updated</th>
                        <th>R</th>
                        <th>L</th>
                        <th>Password</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div><!--/span-->

        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Sidebar</li>
                    <li class="active"><a href="#" class="all">All</a></li>
                </ul>
            </div><!--/.well -->
        </div><!--/span-->
    </div><!--/row-->
</script>

<script type="text/template" id="invitation-table-row-template">
    <td>
        <a href="#" class="show">{{ label }}</a>
        <div class="details">
            <div><strong>Address:</strong> {{address}}</div>
            <div><strong>People:</strong> <br/>{{#each people}}{{this.name}} ({{this.response}})<br /> {{/each}}</div>
            <div><strong>Email:</strong> {{email}}</div>
            <div><strong>Comments:</strong> {{comments}}</div>
        </div>
    </td>
    <td style="width: 140px">{{formatDate modified_date}}</td>
    <td style="width: 40px">{{#if hasResponded}}Y{{else}}N{{/if}}</td>
    <td style="width: 40px">{{#if lodging}}Y{{else}}N{{/if}}</td>
    <td style="width: 100px">{{ password }}</td>
    <td style="width: 40px">
        <a href="#" class="edit"><i class="icon-edit"></i></a>
        <a href="#" class="trash"><i class="icon-trash"></i></a>
    </td>
</script>
